{% extends "default.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8 mt-2 p-2 bg--dark text-white rounded">
            <div class="p-2  text-center rounded">
                <h1>Liste des Patients</h1>
            </div>
            <div class="p-3 mt-3 border-bottom">
                <form action="?routing=rechercher-un-patient" class="form-inline my-2 my-lg-0" method="POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="{{ state }}" aria-label="Search"
                        name="nomPatient">
                    <button class="btn btn-outline-success my-2 my-sm-0" name="searchPatient"
                        type="submit">Search</button>
                </form>
            </div>
            <ul class="list-group p-3">
                {% for patient in listpatients[1] %}
                    <li class="list-group-item d-flex flex-wrap justify-content-between bg--dark">
                    <a href="index.php?routing=patient&amp;id={{patient.id}}" class="btn btn-dark text-white">{{patient.lastname}}</a>
                        <div class="d-flex align-items-center">
                        <a href="index.php?routing=modifier-un-patient&amp;id={{patient.id}}" class="btn btn-primary mr-3">Modifier</a>
                            <a href="index.php?routing=supprimer-un-patient&amp;delPatientById={{patient.id}}" class="btn btn-outline-danger"><img style="filter:invert(100%);" src="img/trash.png"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center p-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for i in 1..listpatients[0] %}
                        <li class="page-item">
                            <a href="index.php?routing=liste-des-patients&amp;pageIndex={{ i }}" class="page-link bg-dark text-white">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}