{% extends "default.html.twig" %}

{% block title %}
    Rendez-vous
{% endblock %}
{% block content %}
<div class="container p-2">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rendez-vous</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for rdv in listrdv %}
            <tr>
                <th scope="row">
                    <a href="index.php?routing=delRdv&amp;idDeleteRdv={{ rdv.idrdv }}"><img style="filter:invert(100%);" src="img/trash.png"
                            alt="Corbeille"></a>
                </th>
                <th>
                    <a href="index.php?routing=sh_updateRdv&amp;idRdv={{ rdv.idrdv }}">{{ rdv.dateHour }}</a>
                </th>
                <td>{{ rdv.lastname }}</td>
                <td>{{ rdv.firstname }}</td>
                <td>{{ rdv.birthdate }}</td>
                <td>{{ rdv.phone }}</td>
                <td>{{ rdv.mail }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}